<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>monitor</contextName>
    <property name="log.path" value="./logs" />
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <!--<property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level ${PID} %X{traceId:-0} %X{threadId:-0} %thread %logger %M　%m%n" />-->
    <property name="log.pattern" value="[%date] %clr([%level]) [%thread] [traceId:%clr(%X{X-B3-TraceId}){blue}] %clr([%logger]:%L){cyan} >>> %msg %n"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/consumer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/consumer.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http.impl.nio.conn.PoolingNHttpClientConnectionManager" level="WARN"/>
    <logger name="pool.PreparedStatementPool" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.commons.beanutils.converters" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="WARN"/>
    <logger name="org.apache.ibatis.io.ResolverUtil" level="WARN"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="WARN"/>
    <logger name="springfox.documentation" level="WARN"/>
    <logger name="tk.mybatis.spring.mapper.ClassPathMapperScanner" level="WARN"/>
    <logger name="org.hibernate.validator.internal.engine.ValidatorFactoryImpl" level="WARN"/>
    <logger name="io.lettuce.core.protocol" level="warn"/>
    <logger name="io.lettuce.core.RedisChannelHandler" level="warn"/>
    <logger name="org.redisson.command.CommandAsyncService" level="warn"/>
    <logger name="org.springframework" level="info"/>
    <logger name="io.netty" level="info"/>
    <logger name="springfox.bean.validators.plugins.parameter" level="info"/>
    <logger name="com.netflix.discovery" level="info"/>

    <root>
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>
